<h1>Cinemagic</h1>
<p>A reviews site for the discerning movie-goer.</p>
<h2>Latest Reviews</h2>
<ul>
<% @movies.each do |movie| %>
  <li> <%= link_to movie.title, movie_path(movie) %> (<%= movie.reviews.length %> reviews) </li>
<% end %>
</ul>

<div id='Movie Search'>
  <h1>Movie Search</h1>
  <section id="fetch">
      <input type="text" placeholder="Enter a movie title" id="term" width="40" />
      <button id="search">Search</button>
  </section>
<div id='space'></div>
<div id="Answer Container">
  <section id="poster"></section>
</div>

</div>

<!-- Admin only -->
<% if user_signed_in? %>
  <button class="btn btn-secondary btn-lg"><%= link_to "Add New Movie", new_movie_path %></button>
<% end %>

<h2><%= link_to "Browse by Genre", genres_path %></h2>
<!-- eventually limit the number of genres displayed on homepage? -->
<div class="card-columns">
<% @genres.each do |genre| %>
    <div class="card text-xs-center">
      <div class="card-block">
        <h3 class="card-title"><%= link_to genre.name.titlecase, genre_path(genre) %></h3>
        
      </div>
    </div>
<% end %>
</div>

<!-- stuff from Blake -->
<% if notice %>
       <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
       <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!-- Nav Bar  -->
  <!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
    <div class="container">
      <%= link_to "Cinemagic", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right">
        <!-- This is where we will add new movie bar -->
      <% if user_signed_in? %>
          <li>
            Logged in as <strong><%= current_user.email %></strong>.
          </li>
          <li>
            <%= link_to "New Review", new_movie_path %>
          </li>
          <li>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>
      <% else %>
          <li>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          </li>
          <li>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          </li>
      <% end %>
      </ul>
    </div>
  <!-- </nav> -->
  <p class="notice">
    <%= notice  %>
  </p>
  <p class="alert">
    <%= alert  %>
  </p>
